.slide-header {
  @include span-columns(12);
  overflow: hidden;
  background: lighten(#ccc7c0, 11);
  border-radius: 6px 6px 0 0 ;
  padding: 25px;
  border-bottom: 4px solid #ccc7c0;
}

.title {
  @include span-columns(8 of 12);
}

.slide-controls {
  @include span-columns(4 of 12);
  text-align: right;
  @include media($md-breakpoint) {
    @include span-columns(12);
    text-align: left;
    margin-bottom: 0px;
    margin-top: 5px;
  }
}

.next, .previous {
  @extend %button;
}

.submit {
  @include button(simple, $success-color);
  color: #fff;
  font-size: $base-font-size;
  font-weight: bold;
}

.warning {
  @include button(simple, $warning-color);
  color: #fff;
  font-size: $base-font-size;
  font-weight: bold;
  margin: 10px auto;
  }

a.active {
  text-decoration: underline;
  color: $success-color;
}

.slide-sub-header {
  padding: 25px;
  @include span-columns(12);
  background: #fad096;
}

.breadcrumbs {
  .toets {
    color: darken($base-font-color, 10);
  }
}
